# Vivado build output
*.bit
*.dcp
*.jou
*.log
*.str
*.xml
*.pb
*.html
*.xpr
*.xpr.cache
*.runs/
*.ip_user_files/
*.sim/
*.hw/

# Chisel / Scala build output
target/
*.fir
*.json
*.class
*.bin
*.o
a.out

# SBT build
project/target/
project/project/

# Verilator / simulation
obj_dir/
*.vcd

# Editor / IDE
.idea/
.vscode/
.metals/
.bsp/

# Temp / backup
*.swp
*.tmp
*.tar.gz
*.tar.xz
*.bak

# Docker
*.img
*.tar

# Env
.env
